{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}
    <section class="py-10 my-auto dark:bg-gray-900">
        <div class="lg:w-[80%] md:w-[90%] w-[96%] mx-auto flex gap-4">
            <div class="lg:w-[88%] sm:w-[88%] w-full mx-auto shadow-2xl p-4 rounded-xl h-fit self-center dark:bg-gray-800/40">
                <div class="py-4">
                    <h1 class="lg:text-3xl md:text-2xl text-xl font-serif font-extrabold mb-2 dark:text-white">
                        Bienvenue {{ nomParticipant }}!
                    </h1>
                    <h2 class="text-grey text-sm mb-4 dark:text-gray-400">Modifie ton profile</h2>

                    {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}
                    {{ form_errors(form) }}

                    <!-- Cover & Profile Upload -->
                    <div class="w-full py-16 rounded-lg bg-[url('https://images.unsplash.com/photo-1449844908441-8829872d2607?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=1080')] bg-cover bg-center bg-no-repeat items-center">

                    </div>

                    <h2 class="text-center mt-1 font-semibold dark:text-gray-300">
                        Informations du profile
                    </h2>

                    <!-- Champs du formulaire Symfony -->
                    <div class="flex flex-col lg:flex-row gap-4 mt-6">
                        <div class="w-full">
                            {{ form_label(form.prenom, 'First Name', {'label_attr': {'class': 'dark:text-gray-300'}}) }}
                            {{ form_widget(form.prenom, {'attr': {'class': 'mt-2 px-4 py-2 w-full border-2 rounded-lg focus:border-purple-500 outline-none  dark:text-gray-200 border-gray-300'}}) }}
                            {{ form_errors(form.prenom) }}
                        </div>

                        <div class="w-full">
                            {{ form_label(form.nom, 'Last Name', {'label_attr': {'class': 'dark:text-gray-300'}}) }}
                            {{ form_widget(form.nom, {'attr': {'class': 'mt-2 px-4 py-2 w-full border-2 rounded-lg focus:border-purple-500 outline-none  dark:text-gray-200 border-gray-300'}}) }}
                            {{ form_errors(form.nom) }}
                        </div>
                    </div>

                    <div class="flex flex-col lg:flex-row gap-4">
                        <div class="w-full">
                            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'dark:text-gray-300'}}) }}
                            {{ form_widget(form.email, {'attr': {'class': 'mt-2 px-4 py-2 w-full border-2 rounded-lg focus:border-purple-500 outline-none  dark:text-gray-200 border-gray-300'}}) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="w-full">
                            {{ form_label(form.telephone, 'Telephone', {'label_attr': {'class': 'dark:text-gray-300'}}) }}
                            {{ form_widget(form.telephone, {'attr': {'class': 'mt-2 px-4 py-2 w-full border-2 rounded-lg focus:border-purple-500 outline-none dark:text-gray-200 border-gray-300'}}) }}
                            {{ form_errors(form.telephone) }}
                        </div>
                    </div>

                    <div class="flex flex-col lg:flex-row gap-4">
                        <div class="flex items-center space-x-2">
                            {{ form_widget(form.administrateur, {
                                'attr': {
                                    'class': 'h-5 w-5 text-purple-600 border-gray-300 rounded focus:ring-purple-500'
                                }
                            }) }}
                            {{ form_label(form.administrateur, 'Administrateur', {
                                'label_attr': {'class': 'text-gray-700 dark:text-gray-300'}
                            }) }}
                            {{ form_errors(form.administrateur) }}
                        </div>

                        <div class="flex items-center space-x-2">
                            {{ form_widget(form.actif, {
                                'attr': {
                                    'class': 'h-5 w-5 text-purple-600 border-gray-300 rounded focus:ring-purple-500'
                                }
                            }) }}
                            {{ form_label(form.actif, 'Actif', {
                                'label_attr': {'class': 'text-gray-700 dark:text-gray-300'}
                            }) }}
                            {{ form_errors(form.actif) }}
                        </div>
                    </div>


                    <div class="w-full flex mt-6 justify-between gap-3">
                        <button type="submit"
                                class="rounded-lg w-full p-4 bg-purple-600 text-white text-lg font-semibold hover:bg-purple-500">
                            {{ button_label|default('Enregistrer') }}
                        </button>


                    {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}

                    {{ include('participant/_delete_form.html.twig') }}

                    </div>

                    <div class="mt-4 text-center">
                        <a href="{{ path('app_participant_index') }}" class="text-blue-500 hover:underline">Back to list</a>
                    </div>

                </div>
            </div>
        </div>
    </section>


{% endblock %}
